@model ToDoApp.Models.ViewModels.ItemListViewModel

<h2>List</h2>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type ="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-outline-dark">
                    Search
                </button>
            </span>
        </div>
    </div>
</form>

<a class="btn btn-dark" asp-controller="Item" asp-action="Create" >Create new Item</a>

<table class="table">
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.DueDate</td>
            <td>@item.CompletionStatus</td>
            <td><a class="btn btn-outline-primary" asp-controller="Item" asp-action="Edit" asp-route-id="@item.ItemId">Edit</a></td>
            <td><a class="btn btn-danger" asp-controller="Item" asp-action="Delete" asp-route-id="@item.ItemId">Delete</a></td>
        </tr>
    }
</table>